<div class="card" style="width: 18rem;">
    <img src="<%= post.picture %> " class="card-img-top">
    <div class="card-body">
      <p class="card-text"><%= post.caption %></p>
      <a href="/post/delete" class="btn btn-primary">Delete Post</a>
    </div>
  </div>