body {
  text-align: center;
}

.profile-pic {
  width: 300px;
  border-radius: 150px;
}

.post-pic {
  width: 400px;
  height: auto;
}

.small-profile-pic {
  width: 50px;
  border-radius: 25px;
}

.post {
  padding: 30px;
  border-style: solid 5px black;
}
