<%- include(`../partials/header`) %>
<h1>This is the Home Page</h1>
<p>Log in with username and password:</p>
<p>OR</p>
<p>Log in using Google</p>
<p>Not a member? Register <a href="/home/register">here</a></p>
<%- include(`../partials/footer`) %>
