<%- include(`../partials/header`) %>
<h1 class="intro-size post-text">Welcome to Foodie!! </br> We are a community that enjoys sharing good food, encouragement, and celebrating life together!</h1>
<div class="post">
    <h1 class="post-text">Log in using</h1>
    <a href="/auth/google" class="btn btn-lg">Google</a>
</div>
<%- include(`../partials/footer`) %>
