<%- include(`../partials/header`) %>
<h1>This is the Feeds Page</h1>
<p><a href="/logout">Log Out</a></p>
<p><a href="/profile/<%= currentUser._id %>">My Profile</a></p>
<%- include(`../partials/footer`) %>
